################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/CustomControls/x86
/CustomControls/x64
/Testing/x86
/Testing/x64
